.image {
    margin-top: 8px;
    border-radius: 0;
}

a {
    width: max-content;
}

.comic-card:hover img{
    margin-top: 0;
    margin-bottom: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.8) , 0 6px 18px 0 rgba(0, 0, 0, 0.1);
    transition-duration: 500ms;
}

.comic-title {
    overflow-wrap: normal;
}

.comic-card:hover .comic-title {
    color: rgb(220, 0, 0);
}

.comic-creator:hover {
    color: red;
}
