img {
    width: 100%;
    opacity: 20%;
}

div> h1.centered {
    background-image: url("../../assets/slideshow-background.webp");
    color: aliceblue;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}