li {
    list-style: none;
}

nav ul.pagination {
    margin: auto;
    overflow-x: auto;
}

a.page-link {
    width: 55px;
    height: 30px;
    text-align: center;
    background-color: transparent;
}